@font-face {
    font-family: Feather;
    src: url(/assets/Fonts/Feather/feather_bold_by_typicalbro44_dee263c.ttf);
}
@font-face {
    font-family: Din;
    src: url(/assets/Fonts/DINRoundPro.ttf);
}
@font-face {
    font-family: DinBold;
    src: url(/assets/Fonts/DINRoundPro-Black.ttf);
}