*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-image: url(Assets/Images/Hewan/Banner_Quiz/kambing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -100px;
}
a, h1, h3, h2{
    text-decoration: none;
    color: white;
}
h1, h2, h3, a{
    font-family: Feather;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
    width: 50%;
}
a{
    font-size: 20px;
}

#content{
    height: 100vh;
}
#container-quiz{
    padding: 50px 118px;
}
#kembali{
    color: white;
}
#container h3{
    margin-bottom: 32px;
}
.row{
    text-align: center;
    width: 40vw;
}
.row a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 32px;
}
.row a+a{
    margin-left: 32px;
}
.navbar{
    display: flex;
    align-items: flex-start;
}
.toggler-stripe {
    background-color: white; /* Set the color to white or your desired color */
    height: 3px; /* Adjust the height of the stripes */
    width: 25px; /* Adjust the width of the stripes */
    display: block;
    margin-top: 5px; /* Adjust the spacing between the stripes */
    margin-bottom: 5px;
}
.burger{
    background-color: #3D9879;
    color: white;
    transition: none;
    padding: 12px 20px;
    border-radius: 7px;
}
.disabled{
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: white;
    color: #3D9879;
    border: #3D9879 solid;
    transition: none;
    padding: 12px 20px;
    border-radius: 7px;
    pointer-events: none;
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: #3D9879;
    color: white;
    border-radius: 7px;
    padding: 12px 20px;
    transition: .15s ease-in-out;
}
.col{
    height: 100px;
    background-color: #3D9879;
    color: white;
}
.col:hover, .sidebar:hover{
    background-color: #33BBC5;
}
#hewan_icon{
    margin-left: 50vw;
    margin-top: -250px;
}
#hewan_icon img{
    width: 400px;
}

#overlay{
    position: absolute;
    background-color: rgba(0,0,0,.6);
    height: 100vh;
    width: 100vw;
    top: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#salah{
    color: red;
}
#text-salah{
    color: white;
}
#btn-salah{
    background-color: #3D9879;
    color: #1a1a1a;
    font-size: 24px;
    font-family: Feather;
    padding: 15px;
}
